*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    width: 30%;
    height: 650px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    border: 1px solid black;
    padding-top: 20px;


}