*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#img1{
    height: 60px;
    width: 60px;
    /* margin-left: 750px; */
    margin-top: 20px;
    /* border: 1px solid black; */
}

#box1{
    height: 500px;
    width: 500px;
    /* border: 1px solid black; */
    /* margin-left: 750px; */
    position: relative;
}
#input1{
    height: 50px;
    width: 430px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
#h1{
    color: #757575;
}
#h2,#h3{
    text-decoration: underline;
}
#btn1{
    height: 45px;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    position: absolute;
    right: 50px;

}
#btn1:hover{
    background-color: #757575;
}
#a{
    text-decoration: none;
    color: white;
}
#input2{
    height: 50px;
    width: 430px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
#input3{
    height: 50px;
    width: 200px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
#input4{
    height: 50px;
    width: 200px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 30px;
}
#input5{
    height: 50px;
    width: 430px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

#input6{
    height: 50px;
    width: 430px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
#input7{
    height: 50px;
    width: 120px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
#input8{
    height: 50px;
    width: 120px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 15px;
}
#input9{
    height: 50px;
    width: 150px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 15px;

}
#btn2{
    height: 45px;
    width: 130px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    position: absolute;
    right: 50px;
    font-size: 15px;

}
#btn2:hover{
    background-color: #757575;
}
#img3{
    height: 40px;
    width: 30px;
}
#a1{
    color: black;
    padding-right: 20px;
    text-decoration: none;
}
#img4{
    height: 70px;
    width: 70px;
}
#a2{
    text-decoration: none;
    color: black;
    padding-right: 30px;
    font-size: 17px;
}
.fa-magnifying-glass{
    height: 30px;
    width: 30px;
    /* border: 1px solid black; */
    text-align: center;
    line-height: 30px;
    padding-top: 8px;
    border-radius: 50%;
    position: absolute;
    left: 36px;
    transition: 1s;
    /* background-color: red; */
}
#input10{
    width: 180px;
    height: 30px;
    border-radius: 20px;
    padding-left: 40px;

}
#input10:hover .fa-magnifying-glass{
    background-color: #757575;  
}
#a3{
    text-decoration: none;
    font-size: 19px;
    color: black;
    padding-right: 15px;
}
#a4{
    text-align: center;
    padding-top: 10px;
}
#col2{
    background-color: #F5F5F5   ;
 
}
#a5{
    text-decoration: underline;
    text-align: center;
    font-size: 15px ;
}
#col3{
    width: 100%;
    height: 900px;
    border: 1px solid black;
    background-color: black;
    
}
#slider{
    height: 500px;
    /* width: 100%; */
    /* border: 1px solid black; */
}
.swiper-slide{
    height: 500px;
    width: 32%;
    /* border: 1px solid red; */
}
.swiper-slide img{
    height: 100%;
    width: 100%;
}
#btn5{
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: 35px;
    width: 90px;
    border-radius: 20px;
    border: none;

}
#btn5:hover{
    background-color: #c2c0c0;
    color: white;
}
#p1{
    position: absolute;
    bottom: 80px;
    left: 55px;
    color: white;
    font-size: 20px;
}
#productBox{
    /* border: 1px solid black; */
    /* display: flex; */
    float: left;
}
.main{
    width: 100%;
    /* border: 1px solid black; */
    /* height: 500px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
    margin-top: 50px;
}
.image{
    height: 320px;
    width: 100%;
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
}
.image img{
    height: 100%;
    width: 100%;
}
#fixed{
    
    z-index: 1;
    background-color: white;
}

#btn6{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 60px;
    transition: 1s;
    border: none;
    height: 30px;
    border-radius: 10px;


}
.image:hover #btn6{
    bottom: 40px;
    left: 80px;
    background-color: black;
    color: white;
}
#btn7{
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 60px;
    transition: 1s;
    border: none;
    height: 30px;
    border-radius: 10px;


}
#btn7:hover{
    background-color: white;
    color: black;
}   
.image:hover #btn7{
    bottom: 40px;
    right: 80px;
    background-color: black;
    color: white;
}
#sidebar{
    height: 1200px;
    /* border: 1px solid black;  */
    position: sticky;
    top: 0;
    overflow: scroll;
}

#p2{
    padding-top: 20px;
    cursor: pointer;
    padding-left: 20px;
}
#p3{
    font-size: 28px;
    padding-left: 20px;
}
#a7{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-left: 20px;
}
.fa-chevron-down{
    position: absolute;
    right: 20px;
}
